* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.hero-text h1 {
	margin-bottom: 5px;
	text-shadow: 3px 3px 5px #000;
	color: #ddd;
}

.hero-text span {
	text-transform: uppercase;
	color: #09f;
}

.section-title {
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
}

section {
	scroll-margin-top: 60px;
}

nav {
	position: sticky;
	top: 0;
	height: 60px;
	line-height: 60px;
	background-color: #ddd;
	text-align: center;
	z-index: 10;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	font-size: 30px;
	background: none;
	border: none;
	cursor: pointer;
}

.nav-items {
	display: none;
}

/* main */
main {
	margin: 60px 0;
}

/* o nas */
.about-us-info {
	margin-bottom: 10px;
	padding: 0 20px;
}

/* produkty */
.products {
	margin: 60px auto;
}

.products h3 {
	text-transform: uppercase;
	transition: transform 0.3s;
}

.product:hover h3 {
	transform: scale(1.6);
}

.product {
	position: relative;
	height: 300px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.first-product {
	background-image: url('../img/children-gf124a8c6d_640.jpg');
}

.second-product {
	background-image: url('../img/keyboard-g27cf4eda4_640.jpg');
}

.third-product {
	background-image: url('../img/woman-g0de23e963_640.jpg');
}

.fourth-product {
	background-image: url('../img/laptop-g7304c92fe_640.jpg');
}

/* kontakt */

.contact {
	text-align: center;
}

.contact h3 {
	margin: 20px 0 5px;
	text-transform: uppercase;
}

/* footer */
footer {
	padding: 30px 10px;
	text-align: center;
	background-color: #ddd;
}

/* header */
.header {
	position: relative;
	background-image: url('../img/wolf-small.jpg');
	background-size: cover;
	background-position: center;
	height: 330px;
}

@media (min-width: 768px) {
	.burger-icon {
		display: none;
	}

	.nav-items {
		display: block;
	}

	.nav-items a {
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		color: #333;
		transition: color 0.3s;
	}

	.nav-items a:hover {
		color: #09f;
	}

	.header {
		position: relative;
		background-image: url('../img/wolf-big.jpg');
		background-size: cover;
		background-position: center;
		height: 400px;
	}

	.hero-text h1 {
		font-size: 36px;
	}

	.hero-text p {
		font-size: 18px;
	}

	.products h3 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.products-box {
		font-size: 0;
	}

	.product {
		display: inline-block;
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.hero-text h1 {
		font-size: 42px;
	}

	.hero-text p {
		font-size: 20px;
	}
}
